.btn-black {
  -fx-background-repeat: stretch;
  -fx-background-position: center center;
  -fx-background-color: gray;
}

.btn-white {
  -fx-background-repeat: stretch;
  -fx-background-position: center center;
  -fx-background-color: white;
}

.btn-marked {
  -fx-background-repeat: stretch;
  -fx-background-position: center center;
  -fx-background-color: yellow;
}